
<div class="col-md-8 offset-md-3 ">
    <h3> Creez votre Demande </h3>
    <form (ngSubmit)="onSubmit()" >


        <br>

        
        <label > Type de la demande</label>
        <div class ="col-sm-10">
            
        <select class="form-control col-lg-8"  id="TypeDemande" name="TypeDemande" [(ngModel)]="TypeDemande" (ngModelChange)="SelectTypeDemande($event , TypeDemande)">
            
            <option  class="bootstrap-solid" *ngFor="let typeDemande of TypeDemandeList" [ngValue]="typeDemande">{{typeDemande.nomTypeDemande}}</option>
        </select>
    </div>

<br>
  
  
    
    <label >Votre dossier concerne-il plusieurs employés ? </label>
    <br>
   
      

    <label class="container"> 
        <input 
          [value]="1" 
          [(ngModel)]="isVisible" 
          name="isVisible" 
          type="radio" 
          [checked]="isSelected"/> oui
          <span class="checkmark"></span>
      </label>
    
      <label class="container">
        <input 
          [value]="0" 
          [(ngModel)]="isVisible" 
          name="isVisible" 
          type="radio" 
          [checked]="!isSelected"/>non
          <span class="checkmark"></span>
      </label>
    
      
      
    
<div class="showDiv" *ngIf="isVisible == 1">

    <section>
       
          <div class="form-check" *ngFor="let emp of employeeList; let i=index">
        
            <input class="form-check-input"  type="checkbox" [value]="emp.id" (change)="onCheckboxChange(emp , $event)">
            
            <label class="form-check-label">
                {{ emp.firstName}}
              </label>
            
          </div>
          
      
        <!-- <p>{{ form.value | json }}</p> -->
      </section>

</div>
<div class="hideDiv" *ngIf="isVisible == 0"></div>
    
<div>  
    <br> 
    <label > Veuillez ajouter les fichiers necessaires</label> 
    <br>   
<app-upload-files></app-upload-files>
</div>
<br>
<button class="btn" type="submit"> Confirmer</button>
<br>

</form>
</div>