
<div class="col-md-8 offset-md-3 ">
    <h3> Creez votre Demande </h3>
    <form (ngSubmit)="onSubmit()" >


<!-- 
    <div class="form-group">
        <label>nom de la demande</label>
        <input type="text" class="form-control" >
    </div>
        Example split danger button -->
        <br>

<label > Type de la demande</label>
<div class ="col-sm-10">
    <select name="TypeDemande"  class="custom-select-lg form-control">
        <option>--select--</option>
        <option class="bootstrap-solid" [value]="TypeDemande.id" *ngFor="let TypeDemande of TypeDemandeList">
            {{TypeDemande.nom}}
        </option>

    </select>

</div>
<br>
  
  


    
    <label >Votre dossier concerne-il plusieurs employés ? </label>
    <br>
   
      

    <label class="container"> 
        <input 
          [value]="1" 
          [(ngModel)]="isVisible" 
          name="isVisible" 
          type="radio" 
          [checked]="isSelected"/> oui
          <span class="checkmark"></span>
      </label>
    
      <label class="container">
        <input 
          [value]="0" 
          [(ngModel)]="isVisible" 
          name="isVisible" 
          type="radio" 
          [checked]="!isSelected"/>non
          <span class="checkmark"></span>
      </label>
    
      
      
    
<div class="showDiv" *ngIf="isVisible == 1">

    <section>
       
          <div *ngFor="let country of countries; let i=index">
            <input type="checkbox" formArrayName="selectedCountries" [value]="country.value" (change)="onCheckboxChange($event)" 
            />
            {{ country.name}}
          </div>
          
      
        <p>{{ form.value | json }}</p>
      </section>

</div>
<div class="hideDiv" *ngIf="isVisible == 0"></div>
    
<div>  
    <br> 
    <label > Veuillez ajouter les fichiers necessaires</label> 
    <br>   
<app-upload-files></app-upload-files>
</div>
<br>
<button class="btn" type="submit"> Confirmer</button>
<br>

</form>
</div>