<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <a class="navbar-brand" href="#">
    <img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    Talan
  </a>
  <ul class="navbar-nav text-center">

    <div class="dropdown">
      <button class="dropbtn">Employee</button>
      <div class="dropdown-content">
        <li class="nav-item">
          <a routerLink="employees" routerLinkActive="active"  class="nav-link"> Employee List </a>
        </li>
        <li class="nav-item">
          <a routerLink="create-employee" routerLinkActive="active"  class="nav-link"> Add Employee </a>
        </li>
        
       
      </div>
    </div>

   
    <li class="nav-item">
      <a routerLink="create-demande" routerLinkActive="active"  class="nav-link"> demande </a>
    </li>
   
  </ul>
  

</nav>



<h1 class ="text-center"> {{title}}</h1>
<div class="container">
<router-outlet></router-outlet>

</div>
<footer class ="footer">
  <div class="container">
    <span>Talan Tunisie</span>
  </div>
</footer>
